// Specific CSS for your home-page

.left-div {
  height: 100vh;
}
.right-div {
  background-image: url('https://res.cloudinary.com/novapixels/image/upload/v1637062967/ArtBnB/andrew-ruiz-TR5Ah5sZgpo-unsplash_umhgma.jpg');
  background-size: cover;
}
.index-subtitle {
  font-weight: 300;
  font-size: 14px;
}
.signup {
  text-decoration: underline;
}
.signin {
  color: black;
}
