        <div class="card bg-dark text-white">
        <span class="position-absolute badge rounded-pill bg-primary m-1">Category</span>
            <%= link_to artwork_path(artwork) do %>
            <%= cl_image_tag artwork.photo.key, class:'card-img-top', height: 150, width: 150, crop: :fill %>
          <div class="card-img-overlay d-flex justify-content-between align-items-end">
              <h5 class="card-title"><%= artwork.title %><h5>
            <% end %>
            <p class="card-text"><%= artwork.price %>€ / Day</p>
          </div>
      </div>
