
<div class="mt-5">
<%= simple_form_for :search do |f| %>
    <% locations = ['Madrid', 'Paris', 'New York', 'Santiago']%>
    <% categories = ['Sculpture', 'Painting', 'Art Installation', 'Immersive Art'] %>
    <div class="col">
    <%= f.input :category, placeholder: 'Choose a category', collection: categories, class: 'input-style' %>
    </div>
    <div class="col">
    <%= f.input :location, collection: locations, placeholder: 'Choose your city', class: 'input-style' %>
    </div>
    <%= f.button :submit, class: "btn btn-outlined" %>
<% end %>
</div>
