
<div class="container">
  <div class="mt-5">
  <!-- To Do: Replace erb tag to replace Mo with current user's first name-->
  <h1>Hi Mo,</h1>
  <h3>What are you looking for today ?</h3>
  </div>

  <div class="mt-3">
  <%= render 'search_form', artwork: @artwork %> <a class="btn btn-filled" href="#">See all artworks</a>
  </div>
  <%# <form novalidate="novalidate" class="simple_form" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="simple_form">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-ghost">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form> %>
<div class="mt-5">
  <p>These are the artworks that match your search</p>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% @artworks.each do |artwork| %>

    <%= render 'card', artwork: artwork %>

    <% end %>

  </div>
</div>
