<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('');">
  <div class="container">
    <h1><%= @artwork.title %></h1>
  </div>
</div>

<div class="card-trip">
  <img src="" />
  <div class="card-trip-infos">
    <div>
      <p><%=@artwork.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @artwork.price %></h2>
  </div>
</div>
