
<div class="container">
  <div class="card-trip">
    <img src="" />
    <div class= "card-info">
      <h2><%=@artwork.title%></h2>
      <p><%= @artwork.description %></p>
    </div>
      <div class="card-price">
        <h2> <%=@artwork.price %></h2>
      </div>
  </div>
</div>
