<div class="container">
    <h2><%=@artwork.title%></h2>
    <p><%= @artwork.description %></p>
  <div class="d-flex flex-row-reverse bd-highlight">
    <h4>Price <%=@artwork.price %>€/ Day</h4>
  </div>
  <div class="show-img-box">
    <%= cl_image_tag @artwork.photo.key, class: "artwork-img"%>
  </div>
  <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Start date</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Select the start date">
</div>

<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">End date</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Select the end date">
</div>
  <input class="btn btn-primary" type="submit" value="Send request" href="#">
</div>
