
  <div class="row text-left text-black ml-5">

    <div class="col d-flex align-items-center left-div">
      <div>
      <span class="index-subtitle">Artwork Rental</span>
      <h1>Welcome to ArtBnB</h1>
      <p class="lead">A fancy touch to your venues</p>
      <!-- Sign up / Sign in -->
      <div>
      <ul class="nav nav-pills">
        <li class="nav-item active-sign" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">
          <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false">
          <a class="nav-link" href="#">Sign in</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- signup form-->
      <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
      create sign up form with simple form
      </div>
      <!-- signin form-->
      <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab">
      create sign in form with simple form
      </div>
    </div>

                <a href="#" class="btn btn-md btn-primary fw-bold bg-black">Browse artworks</a>


      </div>

      </div>
    </div>

    <div class="right-div col mt-3 mb-3 mr-3"></div>

  </div>
