  <div class="row text-left text-black ml-5">

    <div class="col d-flex align-items-center left-div">
      <div>
      <span class="index-subtitle">Artwork Rental</span>
      <h1>Welcome to ArtBnB</h1>
      <p class="lead">A fancy touch to your venues</p>
      <!-- Sign up / Sign in -->
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-md btn-primary fw-bold bg-black mr-2' %></span>
      <span><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-md btn-outlined fw-bold' %></span>
      </div>
    </div>

    <div class="right-div col mt-3 mb-3 mr-3"></div>

  </div>
