<div class="container">

<h1>My Requests</h1>
<% @requests.each do |request| %>
<div class="card-product">
  <%= cl_image_tag request.artwork.photo.key %>
  <div class="card-product-infos">
    <h1><%= request.artwork.title %></h1>
      <h5><%= request.artwork.description %></h5>
  </div>
</div>
<% end %>

</div>
