.btn-filled {
  border: 2px solid #000000;
  color: #000000;
  font-weight: normal;
}

.btn-outlined {
  border: 2px solid #000000;
  font-weight: normal;
}
.btn-noborder {
  border: none;
  font-weight: normal;
}
